.formulario {

    font-family: 'Montserrat', sans-serif;
}

.formulario input {
    margin: 8px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    outline-color: green;
    box-sizing: border-box;
}

.btn{
    background-color: green;
    border-radius: 10px;
    font-weight: 1000;
    padding: 0 8px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 15px 0;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

.btn:hover{
    color:black;
}