body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    224deg in oklab, 
    oklch(70% 0.50 153) -20% -20%, 54%, oklch(1% 0.19 200) 126% 126%);;
}
